.button {
    position: relative;
    cursor: pointer;
    z-index: 1;
}
.default {
    color: white;
    background: var(--orange-100);
    border-radius: 12px;
    padding: 21px 110px;
    font-weight: 600;
}

.money {
    cursor: default;
    height: 54px;
}
.gaming {
    height: 97px;
}
.money .figure {
    width: 320px;
    height: 57px;
}
.gaming .figure {
    width: 520px;
    height: 97px;
}

.gaming span,
.money span {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.gaming span {
    width: 350px;
}
.money span {
    width: 250px;
}

hr {
    position: absolute;
    width: 100%;
    height: 1.3px;
    color: transparent;
    border: none;
    background: var(--black-40);
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: -1;
    transition: 0.5s;
}

.figure path {
    transition: 0.5s;
}

/* hover */

.gaming:hover hr {
    background: var(--orange-100);
}
.gaming:hover .figure path {
    stroke: var(--orange-100);
    fill: white;
}

.default:hover {
    background: var(--orange-80);
}
.default:focus {
    background: var(--orange-120);
}

/* selected mode */

.selected hr {
    background: var(--orange-100);
}
.selected .figure path {
    stroke: var(--orange-100);
    fill: var(--orange-5);
}
.money.selected span {
    color: var(--orange-100);
}
.money.selected .figure path {
    fill: white;
}

/* correct mode */

.correct hr {
    background: var(--green-100);
}
.correct .figure path {
    stroke: var(--green-100);
    fill: var(--green-5);
}

/* wrong mode */

.wrong hr {
    background: var(--red-100);
}
.wrong .figure path {
    stroke: var(--red-100);
    fill: var(--red-5);
}

@media screen and (max-width: 700px) {
    .default {
        padding: 16px 110px;
    }
    .money .figure {
        width: 240px;
        height: 32px;
    }
    .gaming .figure {
        width: 288px;
        height: 56px;
    }
    .money {
        height: 32px;
    }
    .gaming {
        height: 56px;
    }
    .money span {
        width: 120px;
    }
    .gaming span {
        width: 240px;
    }
}
